* {
  margin: 0;
}

body {
  align-items: center;
  text-align: center;
}

div {
  display: block;
}

.gameboard {
  width: 30vw;
  height: 30vw;
  margin: 25px auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: aqua;
  justify-items: center;
}

.gameboard__tile {
  width: 100%;
  border: 1px solid white;
}